#box1{
    position: fixed;
    height: 100px;
    width: 100px;
    left: 200px;
    top: 0px;
    background-color: blue;
    display:inline-block;
    border-radius: 1px;
    margin: 20px;
    cursor:pointer;
    }

#box2{
    position: fixed;
    height: 100px;
    width: 100px;
    left: 310px;
    top: 0px;
    background-color: red;
    display:inline-block;
    border-radius: 1px;
    margin: 20px;
    cursor:pointer;
    }

#box3{
    position: fixed;
    height: 100px;
    width: 100px;
    left: 420px;
    top: 0px;
    background-color: green;
    display:inline-block;
    border-radius: 1px;
    margin: 20px;
    cursor:pointer;
    }

#box4{
    position: fixed;
    height: 100px;
    width: 100px;
    left: 530px;
    top: 0px;
    background-color: green;
    display:inline-block;
    border-radius: 1px;
    margin: 20px;
    cursor:pointer;
    }

.column-left{
    float: left;
    top: 50px;
    width: 15px;
    height: 100%;
    background-color: chocolate;
    border-radius: 1px 0px 0px 1px;
    cursor:pointer;
    }
    
.column-top{
    float: left;
    width: 100px;
    height: 10%;
    background-color: rgb(210, 207, 30);
    border-radius: 1px 1px 0px 0px;
    }

.content-top{
    position: absolute;
    top: 10px;
    left:15px;
    width: 85px;
    height: 90px;
    border-radius: 0px 0px 1px 0px;
    background-color: rgb(18, 102, 102);
    padding: 1px;
    }

.img-inner{
    position: absolute;
    top: 1px;
    left:1px;
    width: 70px;
    height: auto;
    border-radius: 1px;
    }

.p-inner{
    font-size: 2px;
    position: relative;
    top: 50px;
    left:1px;
    width: 70px;
    margin-bottom: 1px;
    margin-left: -1px;
    padding: 2px;
    background-color: cadetblue;
    line-height: 1.6;
    }
    
.p-inner2{
    font-size: 2px !important;;
    position: relative;
    top: 50px;
    left:1px;
    height: 15px;
    width: 70px;
    margin-bottom: 1px;
    margin-left: -1px;
    padding: 2px;
    background-color: cadetblue;
    }

.p-inner3{
    font-size: 2px !important;
    position: relative;
    top: 10px;
    left:1px;
    height: 7px;
    width: 70px;
    margin-bottom: 1px;
    margin-left: -1px;
    padding: 2px;
    background-color: cadetblue;
    }

p{
    position: relative;
    top: -1px;
    left:-3px;
    font-size: 5px;
    padding:5px;
    border-radius: 1px;
    }

a{
    text-decoration: none !important;
    }

ol{
    position: relative;
    font-size: 2px !important;
    top: 38px;
    left:-36px;
    } 
 
h1{
    position: absolute;
    font-size: 2px !important;
    top: 40px;
    left:3px;
    }

#top{
    height: 25px;
    }

#space{
    letter-spacing:10px;
    position: fixed;
    top: 92px;
    }

.top-menu{
    position: relative;
    top:0;
    left:120px;
    }

.top-menu1{
    position: absolute;
    top:0;
    left:220px;
    cursor:pointer;
    }

.top-menu1:hover{
    color:  rgb(18, 102, 102);
    }

.top-menu2{
    position: absolute;
    top:0;
    left:330px;
    cursor:pointer;
    }
    
.top-menu2:hover {
    color: rgb(18, 102, 102);
    }

.top-menu3{
    position: absolute;
    top:0;
    left:440px;
    cursor:pointer;
    }
    
.top-menu3:hover {
    color: rgb(18, 102, 102);
    }
    
.top-menu4{
    position: absolute;
    top:0;
    left:550px;
    cursor:pointer;
    }

.top-menu4:hover {
    color: rgb(18, 102, 102);
    }
